.about_main {
  .about_body {
    padding-top: 3rem;
    padding-bottom: 3rem;

    h3 {
      text-align: center;
      padding-bottom: 3rem;
    }

    .statements {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      .our_mission,
      .our_vision,
      .our_role {
        padding: 1rem;

        aside {
          display: flex;
          justify-content: center;
          // align-items: center;
          i {
            font-size: 2rem;
            padding: 1rem;
          }

          .mission_content {
            max-width: 400px;
          }
        }
      }
    }
  }

  .why_choose_us {
    padding: 2rem 1rem;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    h3 {
      text-align: center;
      color: #fff;
      font-size: 3rem;
      padding-bottom: 2rem;
    }

    p {
      text-align: center;
      color: #fff;
      max-width: 900px;
      line-height: 30px;
      font-size: 1.2rem;
    }
    hr {
      width: 100%;
      size: 5;
      color: white;
    }
  }
}
