.housing_main {
  .housing_body {
    header {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      background: #000;
      height: 30vh;
      color: #fff;
    }

    .housing_content {
      padding: 2rem;

      .housing_wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
      }
    }
  }
}

@media screen and (max-width: 968px) {
  .housing_wrapper {
    grid-template-areas:
      'area1 area1 area1'
      'area2 area2 area2'
      'area3 area3 area3';

    .card1 {
      grid-area: area1;
    }

    .card2 {
      grid-area: area2;
    }

    .card3 {
      grid-area: area3;
    }
  }
}
