.banner {
  background-color: #000;
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: capitalize;

  h1 {
    color: hsl(77, 94%, 25%);
    margin-bottom: 2rem;
  }

  h3 {
    color: #fff;
    margin-bottom: 1.5rem;
  }

  h4 {
    color: #e5e5e5;
    margin-bottom: 1rem;
  }
  p {
    color: #e5e5e5;
  }
}

.finest-props {
  width: 100%;
  padding: 1rem;

  .header-finest {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .cards-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin-bottom: 1rem;
  }
  .btn_wrapper {
    text-align: center;

    button {
      color: #5b7d04;
      background: #fff;
      border: 1px solid #5b7d04;
    }
  }
}

.join-us {
  background: #000;
  background-size: cover;
  object-fit: cover;
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: capitalize;

  h3,
  p {
    margin-top: 2rem;
    color: #fff;
  }

  button {
    background: #5b7d04;
    color: #fff;
  }

  hr {
    width: 100%;
    size: 5;
    color: white;
  }
}
