.estate_main {
  .estate_body {
    header {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      background: #000;
      height: 30vh;
      color: #fff;
    }

    .estate_content {
      padding: 2rem;

      .estate_wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
      }
    }
  }
}

@media screen and (max-width: 968px) {
  .estate_wrapper {
    grid-template-areas: 'area1 area1 area1';

    .card1 {
      grid-area: area1;
    }
  }
}
