nav {
  background: hsl(77, 94%, 25%);
  color: #fff;
  height: 80px;

  button {
    color: #fff;
    background: #000;
  }

  .white {
    color: #fff;
  }

  img {
    width: 5rem;
  }

  .container-fluid {
    padding: 0;
    margin: 0;
  }
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 0;
  align-items: center;
  margin-right: 1rem;
}

.navbar-nav {
  background: hsl(77, 94%, 25%);

  li {
    .white {
      color: #fff;
    }
  }
}
