footer {
  background: #000;
  color: #fff;
  padding: 1rem 2rem;

  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .footer-first {
      max-width: 400px;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .footer-brand {
        img {
          width: 7rem;
        }
      }
    }

    .footer-second {
      max-width: 400px;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      i {
        margin-right: 0.5rem;
      }
    }

    .footer-third {
      max-width: 400px;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    form {
      padding: 1rem 0;

      .footer-input {
        display: flex;
        align-items: center;
        justify-content: center;

        input {
          width: 100%;
          border: 1px solid #fff;
          outline: none;
          padding: 0.2rem 1rem;
        }

        button {
          margin-left: 0.5rem;
          background: #5b7d04;
          color: #fff;
        }
      }
    }
  }
}

@media screen and (max-width: 968px) {
  .footer-wrapper {
    display: grid !important;

    grid-template-areas:
      'first first first'
      'second second second'
      'third third third';
    .footer-first {
      grid-area: first;
      margin-bottom: 3rem;
    }

    .footer-second {
      grid-area: second;
      margin-bottom: 3rem;
    }

    .footer-third {
      grid-area: third;
      margin-bottom: 2rem;
    }
  }
}
