.ht_main {
  .ht_body {
    header {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      background: #000;
      height: 30vh;
      color: #fff;
    }

    .ht_content {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding: 1rem;
      grid-gap: 1rem;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }
}

@media screen and (max-width: 968px) {
  .ht_content {
    grid-template-areas:
      'area1 area1 area1'
      'area2 area2 area2'
      'area3 area3 area3';

    .card1 {
      grid-area: area1;
    }

    .card2 {
      grid-area: area2;
    }

    .card3 {
      grid-area: area3;
    }
  }
}
